<div id="about-container">
  <div class="title">Who are we?</div>
  <div class="text">Korean American Young Buddhists' Organization was created by habitual temple-stay-goers.  As we attended temple stays graciously organized by seunims around the country, it was apparent they could use a hand here and there.  Thus, KAYBO was formed to fulfill that need.  We just have one purpose: Let's keep organizing and attending temple stays all across the country.  Naturally, our members consist of young Buddhists all across the country and we welcome you to come join us for another awesome temple stay!</div>
  <div class="title">Officers</div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/zXhzc7R.png" /></div>
    <div class="info">
      <div class="name">Hyon Lee</div>
      <div class="location">San Francisco, CA</div>
      <div class="description">Hyon is a computer programmer born in New Jersey that has been a Buddhist from birth.  As a baby, he went to Won Gak Sa in Philadelphia, and became a regular at Munsusa in Boston during college.  Nowadays, you can find him at Sambosa in Carmel.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/V54HYxx.jpg" /></div>
    <div class="info">
      <div class="name">Min Kyu Ku</div>
      <div class="location">Portland, OR</div>
      <div class="description">Min Ku is currently a federal officer for some government agency. He’s been going to Bo Kwang Sah since he was four years old. On his days off he either goes on vacation or plays golf.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/KoO7fkT.png" /></div>
    <div class="info">
      <div class="name">Daniel Ku</div>
      <div class="location">San Diego, CA</div>
      <div class="description">Temple:  Bokwangsa<br/>
        I am a student currently attending UCSD majoring in Computer Science. Was born and raised in Portland Oregon under a Buddhist family. Attended 보광사 in Portland since I was born until I headed to San Diego for College. I love to play and watch all sports! Especially basketball and snowboarding!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/Ysx5dpJ.jpg" /></div>
    <div class="info">
      <div class="name">Jean Lee</div>
      <div class="location">Chicago, IL</div>
      <div class="description">Born in Korea into a Buddhist family, Jean is currently a student at SAIC in Chicago.  Having moved to the US when she was 21, she went to Bohyunsa in Dallas until she moved to Chicago, where she goes to Bultasa.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/pNkiIUw.jpg" /></div>
    <div class="info">
      <div class="name">Suebynn Chun</div>
      <div class="location">Seattle, WA</div>
      <div class="description">My name is Suebynn Chun, I was born and raise in Seattle. I have been attending Junggaksa for all my life. I am currently a university student who enjoys music and meeting new people.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/eRbpXrR.jpg" /></div>
    <div class="info">
      <div class="name">Brian Chae</div>
      <div class="location">New York, NY</div>
      <div class="description">Brian attends both Bulgwang Seunwon in New York and Wonjuksa in New Jersey. He spends his free time playing Samulnori and Poongmulnori.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/vtCZZY2.jpg" /></div>
    <div class="info">
      <div class="name">Diane Lee</div>
      <div class="location">Los Angeles, CA</div>
      <div class="description">Diane is a pharmacist working in Southern California. She was born as a Buddhist and aims to center her life around the spiritual teachings of Buddha. She enjoys meeting new people and is excited to build a community of young Buddhists.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/LZteBbg.jpg" /></div>
    <div class="info">
      <div class="name">Yoon Sub Lee</div>
      <div class="location">Austin, TX</div>
      <div class="description">I am currently attending University of Texas Austin as an Economics major.  I was born into a Buddhist family and am heavily influenced by Buddhist teachings.  After immigrating to the US, the first temple I went to was Bohyunsa in Dallas, Texas.  I am currently active as a member of a Buddhist club in Austin.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="title">Videos</div>
  <div class="subtitle">LA Seungaksa 2016</div>
  <div class="text">Coming Soon!</div>
  <div class="subtitle">Chicago Bultasa 2015</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/qNBMd2o14dg" allowfullscreen></iframe></div>
  <div class="subtitle">Portland Bokwangsa 2014</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/5lYkduntT10" allowfullscreen></iframe></div>
  <div class="subtitle">Carmel Sambosa 2012</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/4LTcJeDRY6A" allowfullscreen></iframe></div>
  <div class="text"><iframe src="https://www.youtube.com/embed/mtrfhfoZCWY" allowfullscreen></iframe></div>
  <div class="text"><iframe src="https://www.youtube.com/embed/Iu-NPNTPAZA" allowfullscreen></iframe></div>
  <div class="subtitle">New York Bulkwangsunwon 2011</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/Bhd4OVOp7IE" allowfullscreen></iframe></div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-about").addClass("active");
  </script>
<% end %>
