<div id="details-container">
  <div class="text">
    <a href="https://www.facebook.com/events/863293940446917/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" style="width: 50px;"/></a>
    <a href="https://docs.google.com/forms/d/1EOybPJy7zQycq-2wdAGpTS0dis-fb8s7i-QvppwU_EA/viewform" class="btn btn-lg btn-default" target="_blank">Register!</a>
  </div>
  <div class="title">Poster</div>
  <div class="text"><a href="http://i.imgur.com/uiFXhpO.jpg"><img src="http://i.imgur.com/uiFXhpO.jpg" /></a></div>
  <div class="title">Location</div>
  <div class="text">
    Bo Kwang Sa - Hwa Gong Seunim<br/>
    1927 SE 174th Ave, Portland, OR 97233<br/><br/>
    <div class="map-container">
      <iframe src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDDT75sKRetaFxRUbAkmJtN-HrccS0VHGo&amp;q=Bokwangsah 1927 SE 174th Ave, Portland, OR 97233'></iframe>
    </div>
  </div>
  <div class="title">Cost</div>
  <div class="subtitle">8.18 Thursday</div>
  <div class="text">Dinner:  $200</div>
  <div class="text">Games:  $50</div>
  <div class="text">Gas:  $100</div>
  <div class="subtitle">8.19 Friday</div>
  <div class="text">Breakfast:  $120</div>
  <div class="text">Lunch:  $450</div>
  <div class="text">Dinner:  $200</div>
  <div class="text">Games:  $100</div>
  <div class="text">Arts and Crafts:  $50</div>
  <div class="text">Gas:  $100</div>
  <div class="subtitle">8.20 Saturday</div>
  <div class="text">Breakfast:  $120</div>
  <div class="text">Lunch:  $450</div>
  <div class="text">Dinner:  $600</div>
  <div class="text">Gas:  $100</div>
  <div class="subtitle">8.21 Sunday</div>
  <div class="text">Breakfast:  $120</div>
  <div class="text">Lunch:  $150</div>
  <div class="text">Gas:  $100</div>
  <div class="subtitle">Subtotal: $3010</div>
  <div class="text">= around $100 per person</div>
  <div class="title">Schedule</div>
  <div class="subtitle">8.18 Thursday</div>
  <div class="text schedule-text"><b>anytime before 7pm:</b> Arrive in Portland</div>
  <div class="text schedule-text"><b>7pm:</b> Evening Prayer</div>
  <div class="text schedule-text"><b>8pm:</b> Dinner</div>
  <div class="text schedule-text"><b>9pm:</b> Games + Ice Breaker</div>
  <div class="text schedule-text"><b>11pm:</b> Sleep</div>
  <div class="subtitle">8.19 Friday</div>
  <div class="text schedule-text"><b>5am:</b> Morning Prayer</div>
  <div class="text schedule-text"><b>6am:</b> Breakfast</div>
  <div class="text schedule-text"><b>7am:</b> Angel's Rest</div>
  <div class="text schedule-text"><b>11am:</b> Rest</div>
  <div class="text schedule-text"><b>12pm:</b> Hwa Gong Seunim Lecture</div>
  <div class="text schedule-text"><b>1pm:</b> Lunch in Portland!</div>
  <div class="text schedule-text"><b>2pm:</b> Group Discussion/Mt. Tabor Park</div>
  <div class="text schedule-text"><b>5pm:</b> Arts and Crafts</div>
  <div class="text schedule-text"><b>7pm:</b> Evening Prayer</div>
  <div class="text schedule-text"><b>8pm:</b> Dinner</div>
  <div class="text schedule-text"><b>9pm:</b> KAYBO STAR Season 2</div>
  <div class="text schedule-text"><b>11pm:</b> Sleep</div>
  <div class="subtitle">8.20 Saturday</div>
  <div class="text schedule-text"><b>5am:</b> Morning Prayer</div>
  <div class="text schedule-text"><b>6am:</b> Breakfast</div>
  <div class="text schedule-text"><b>7am:</b> Waterfalls</div>
  <div class="text schedule-text"><b>11am:</b> Rest</div>
  <div class="text schedule-text"><b>12pm:</b> Hwa Gong Seunim Lecture</div>
  <div class="text schedule-text"><b>1pm:</b> Lunch in Portland!</div>
  <div class="text schedule-text"><b>2pm:</b> Portland Tour: Rose Garden</div>
  <div class="text schedule-text"><b>4pm:</b> Snacks: Stumptown + Voodoo/Bluestar</div>
  <div class="text schedule-text"><b>5pm:</b> Happy Hour: Beer Downtown</div>
  <div class="text schedule-text"><b>7pm:</b> Evening Prayer</div>
  <div class="text schedule-text"><b>8pm:</b> Dinner in Portland!</div>
  <div class="text schedule-text"><b>10pm:</b> Letters to one another</div>
  <div class="text schedule-text"><b>11pm:</b> Sleep</div>
  <div class="subtitle">8.21 Sunday</div>
  <div class="text schedule-text"><b>5am:</b> Morning Prayer</div>
  <div class="text schedule-text"><b>6am:</b> Rest</div>
  <div class="text schedule-text"><b>8am:</b> Breakfast</div>
  <div class="text schedule-text"><b>9am:</b> Clean up</div>
  <div class="text schedule-text"><b>10am:</b> Regular Sunday Prayers</div>
  <div class="text schedule-text"><b>12pm:</b> Lunch</div>
  <div class="text schedule-text"><b>1pm:</b> Portland Hangout/Goodbyes</div>
  <div class="title">Photos</div>
  <div class="text"><img src="http://bokwangsah.org/yahoo_site_admin/assets/images/P1010170.343195716_std.JPG" /></div>
  <div class="text">Bo Kwang Sa</div>
  <div class="text"><img src="http://fatgirldoestheworld.com/wp-content/uploads/2012/10/angels_rest.jpg" /></div>
  <div class="text">Angel's Rest</div>
  <div class="text"><img src="http://www.livingroomre.com/wp-content/uploads/2013/06/Gist_MtTabor2_07282011_main1.jpg" /></div>
  <div class="text">Mt. Tabor Park</div>
  <div class="text"><img src="http://i.huffpost.com/gen/1808513/images/o-ONEONTA-FALLS-facebook.jpg" /></div>
  <div class="text">Oneonta Falls</div>
  <div class="text"><img src="http://www.travelphotoadventures.com/wp-content/uploads/2014/01/Elowah-Falls-in-Oregon-Landscape-Photography-by-Michael-Matti.jpg" /></div>
  <div class="text">Elowah Falls</div>
  <div class="text"><img src="https://i.ytimg.com/vi/tjp0XaeyFlk/maxresdefault.jpg" /></div>
  <div class="text">Multnomah Falls</div>
  <div class="text"><img src="https://www.ritani.com/wp-content/uploads/2015/05/international-rose-test-garden-.jpg?5c7ab5" /></div>
  <div class="text">Rose Garden</div>
  <div class="text"><img src="https://kitchenoverlord.files.wordpress.com/2014/04/photo-44.jpg" /></div>
  <div class="text">Voodoo Donuts</div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-details").addClass("active");
  </script>
<% end %>
