<div id="details-container">
  <div class="text"><a href="https://docs.google.com/forms/d/1CmSEGP7ND8283dUrQuenVPF4dsJM4DuZSbAPFSh0tek/viewform" class="btn btn-lg btn-default" target="_blank">Register!</a></div>
  <div class="title">Poster</div>
  <div class="text"><a href="http://i.imgur.com/80R4DfB.jpg"><img src="http://i.imgur.com/80R4DfB.jpg" /></a></div>
  <div class="title">Location</div>
  <div class="text">
    Seun Gak Sa - Sunhak seunim<br/>
    2790 W 8th St, Los Angeles, CA 90005<br/>
    (213) 487-6768<br/><br/>
    <div class="map-container">
      <iframe src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDDT75sKRetaFxRUbAkmJtN-HrccS0VHGo&amp;q=2790 W 8th St, Los Angeles, CA 90005'></iframe>
    </div>
  </div>
  <div class="title">Cost</div>
  <div class="text">$75 - breakdown coming soon</div>
  <div class="title">Schedule</div>
  <div class="subtitle">1.15 Friday</div>
  <div class="text schedule-text"><b>anytime before 7pm:</b> Arrive in LA</div>
  <div class="text schedule-text"><b>7pm:</b> Evening Prayer</div>
  <div class="text schedule-text"><b>8pm:</b> Dinner</div>
  <div class="text schedule-text"><b>9pm:</b> Games + Ice Breaker</div>
  <div class="text schedule-text"><b>11pm:</b> Sleep</div>
  <div class="subtitle">1.16 Saturday</div>
  <div class="text schedule-text"><b>5am:</b> Morning Prayer</div>
  <div class="text schedule-text"><b>6am:</b> Rest</div>
  <div class="text schedule-text"><b>8am:</b> Breakfast</div>
  <div class="text schedule-text"><b>9am:</b> Lesson: How to meditate</div>
  <div class="text schedule-text"><b>10am:</b> Group Discussion: Why I am Buddhist</div>
  <div class="text schedule-text"><b>12pm:</b> Lunch in LA!</div>
  <div class="text schedule-text"><b>1pm:</b> LA Tour: Santa Monica Pier + Manhattan Beach</div>
  <div class="text schedule-text"><b>7pm:</b> Evening Prayer</div>
  <div class="text schedule-text"><b>8pm:</b> Dinner</div>
  <div class="text schedule-text"><b>9pm:</b> Prep time for Talent Show</div>
  <div class="text schedule-text"><b>10pm:</b> Talent Show!</div>
  <div class="text schedule-text"><b>11pm:</b> Sleep</div>
  <div class="subtitle">1.17 Sunday</div>
  <div class="text schedule-text"><b>5am:</b> Morning Prayer</div>
  <div class="text schedule-text"><b>6am:</b> Rest</div>
  <div class="text schedule-text"><b>8am:</b> Breakfast</div>
  <div class="text schedule-text"><b>9am:</b> Lesson: How to bow + 108 bows</div>
  <div class="text schedule-text"><b>10am:</b> Arts + Crafts: Heart of the Perfection of Wisdom Sutra</div>
  <div class="text schedule-text"><b>12pm:</b> Lunch in LA!</div>
  <div class="text schedule-text"><b>1pm:</b> LA Tour: Hollywood + Sunset at Griffith Park</div>
  <div class="text schedule-text"><b>7pm:</b> Evening Prayer</div>
  <div class="text schedule-text"><b>8pm:</b> Dinner in LA!</div>
  <div class="text schedule-text"><b>9pm:</b> Letters to one another</div>
  <div class="text schedule-text"><b>11pm:</b> Sleep</div>
  <div class="subtitle">1.18 Monday</div>
  <div class="text schedule-text"><b>5am:</b> Morning Prayer</div>
  <div class="text schedule-text"><b>6am:</b> Rest</div>
  <div class="text schedule-text"><b>8am:</b> Breakfast</div>
  <div class="text schedule-text"><b>9am:</b> Tour of LA and Good-byes</div>
  <div class="title">Photos</div>
  <div class="text"><img src="https://s3-us-west-1.amazonaws.com/temple-stay-temples/suengaksa.png" /></div>
  <div class="text">Seun Gak Sa</div>
  <div class="text"><img src="http://alikgriffin.com/sites/default/files/AlikGriffin_Santa_Monica_Pier_HDR_s.jpg" /></div>
  <div class="text">Santa Monica Pier</div>
  <div class="text"><img src="http://www.bcre.com/images/manhattan_beach_sand_section_720.jpg" /></div>
  <div class="text">Manhattan Beach</div>
  <div class="text"><img src="http://www.theprivateguides.com/wp-content/uploads/2015/02/Hollywood-cine.jpg" /></div>
  <div class="text">Hollywood</div>
  <div class="text"><img src="http://pcwallart.com/images/griffith-park-wallpaper-4.jpg" /></div>
  <div class="text">Griffith Park</div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-details").addClass("active");
  </script>
<% end %>
