<div id="faq-container">
  <h4>How do I get to Seun Gak Sa?</h4>
  <p>If you are flying in from a different city, someone from KAYBO will pick you up from LAX.</p>
  <br/>
  <h4>What is the age range?</h4>
  <p>The temple stay is designed for young people between the ages of 18 and 35.</p>
  <br/>
  <h4>How many people are coming?</h4>
  <p>We'd love to accommodate everyone, but the space is limited to 30 people.</p>
</div>

<% content_for :js do %>
  <script>
    $("#nav-faq").addClass("active");
  </script>
<% end %>
