<div id="about-container">
  <div class="title">Who are we?</div>
  <div class="text">Coming soon</div>
  <div class="title">Videos</div>
  <div class="subtitle">Portland</div>
  <div class="text">Coming soon</div>
  <div class="subtitle">Monterey</div>
  <div class="text">Coming soon</div>
  <div class="subtitle">NY</div>
  <div class="text">Coming soon</div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-about").addClass("active");
  </script>
<% end %>
