<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Temple-Stay</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/details">Details</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class='title'>
  선각사 (Seun Gak Sa)
</div>
<div class='text'>
  2790 W 8th St, Los Angeles, CA 90005
</div>
<div class='text'>
  (213) 487-6768
</div>
<br/>
<div class="map-container">
  <iframe src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDDT75sKRetaFxRUbAkmJtN-HrccS0VHGo&amp;q=2790 W 8th St, Los Angeles, CA 90005'></iframe>
</div>
<br/>
<a href="http://i.imgur.com/MGnCDO4.jpg">poster</a>
<br/>
participation: $75