<div id="index-container">
  <div class="title">Bo Kwang Sa | 보광사</div>
  <div class="text">8.18 ~ 8.21</div>
  <div class="buttons"><a href="/en/details" class="btn btn-lg btn-default">English</a><a href="/ko/details" class="btn btn-lg btn-default">한글</a></div>
</div>

<% content_for :js do %>
  <script>
    window_height = window.innerHeight;
    container_height = $("#index-container").outerHeight(true);
    padding = (window_height - container_height) / 2.5

    if (padding > 0) {
      $("#index-container").css("padding-top","" + padding + "px");
    }
  </script>
<% end %>
