<div id="index-container">
  <div class="title">Seun Gak Sa</div>
  <div class="text">1.15 to 1.18</div>
  <div class="text">Our next temple stay will be in Los Angeles!</div>
  <div class="text"><a href="/details" class="btn btn-lg btn-default">Learn more</a></div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-home").addClass("active");

    center_height = $('#center').outerHeight(true);

    $("#index-container").css("padding-top","" + (center_height * 0.35) + "px");
  </script>
<% end %>
