<div id="about-container">
  <div class="title">소개</div>
  <div class="text">재미 한인 불교 청년회는 템플스테이를 자주 다니는 청년 몇몇이 뜻을 모아 만든 단체입니다.  미국전역의 덕높으신 스님들께서 주최해주신 템플스테이를 다녀 보니 저희들도 힘을 모아 도와 드려야겠다는 점을 절실히 느꼈습니다.  저희 단체는 오로지 한가지 목적을 가지고있습니다:  앞으로 미국 전역의 템플스테이 주최를 돕고 열심히 참여하자.  여기저기 뿔뿔이 흩어져있는 저희들과 함께 모여 다음 템플스테이 참여하심은 어떻습니까?</div>
  <div class="title">임원</div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/zXhzc7R.png" /></div>
    <div class="info">
      <div class="name">이현일</div>
      <div class="location">San Francisco, CA</div>
      <div class="description">이현일은 뉴저지에서 태어난 컴퓨터 프로그래머입니다.  불교는 태어났을때 부터 믿었으며, 어릴적에는 필라델피아 원각사, 대학생때는 보스톤의 문수사를 다녔습니다.  요즘에는 카멜의 삼보사에서 다니고있습니다.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">구민규</div>
      <div class="location">Portland, OR</div>
      <div class="description">coming soon!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">구자경</div>
      <div class="location">San Diego, CA</div>
      <div class="description">절: 보광사</br>
        저는 지금 UCSD에서 컴퓨터 전공을 하고있습니다.  저는 포틀랜드에 사는 불교집안에서 태어났고요, 절은 어려서부터 샌디에고에 있는 대학가기까지 보광사를 다녔습니다.  저는 운동을 매우 좋아합니다!  특히 농구랑 스노우보딩이요!
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/Ysx5dpJ.jpg" /></div>
    <div class="info">
      <div class="name">이경민</div>
      <div class="location">Chicago, IL</div>
      <div class="description">시카고 SAIC에서 페인팅을 전공하고 있으며 한국에서 태어나 불교집안에서 자랐습니다. 21살에 미국으로 이민와 처음에는 달라스 보현사에 다녔고 시카고로 이사온 뒤 불타사에 다니고 있습니다.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/pNkiIUw.jpg" /></div>
    <div class="info">
      <div class="name">전수빈</div>
      <div class="location">Seattle, WA</div>
      <div class="description">제 이름은 전수빈이구요, 시에틀에서 나고 자랐습니다.  저는 어려서 부터 정각사에만 다녔습니다.  그리고 지금은 음악을 좋아하는 대학생으로써 새로운 사람들 만나는 것을 좋아합니다.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/eRbpXrR.jpg" /></div>
    <div class="info">
      <div class="name">채 Brian</div>
      <div class="location">New York, NY</div>
      <div class="description">브라이언은 현제 뉴욕 불광선원과 뉴저지 원적사에 다니고 있습니다.  여가시간에는 풍물놀이와 사물놀이를 즐깁니다.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/vtCZZY2.jpg" /></div>
    <div class="info">
      <div class="name">이미란</div>
      <div class="location">Los Angeles, CA</div>
      <div class="description">이미란은 남가주에 사는 약사입니다.  불교는 태어나서 부터 믿었고, 앞으로도 불법을 중심으로 한 삶을 살고 싶어합니다.  미란이는 새인연을 맺는 것을 좋아하며 앞으로도 여러 젊은 불자들을 모아 커뮤니티를 만드는 것이 바램입니다.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/LZteBbg.jpg" /></div>
    <div class="info">
      <div class="name">이윤섭</div>
      <div class="location">Austin, TX</div>
      <div class="description">현제 텍사스 주립대학교 경영학과에 재학중인 이윤섭입니다. 불교집안에 태어나고 자라 불법에 많은 영향을 받았습니다. 미국 이민와서 처음 다니기 시작한곳은 텍사스 달라스 보현사이며, 현재는 어스틴에 불교 동아리활동을 하고있습니다.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="title">비디오</div>
  <div class="subtitle">시카고 불타사 2015</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/qNBMd2o14dg" allowfullscreen></iframe></div>
  <div class="subtitle">포틀랜드 보광사 2014</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/5lYkduntT10" allowfullscreen></iframe></div>
  <div class="subtitle">카멜 삼보사 2012</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/4LTcJeDRY6A" allowfullscreen></iframe></div>
  <div class="text"><iframe src="https://www.youtube.com/embed/mtrfhfoZCWY" allowfullscreen></iframe></div>
  <div class="text"><iframe src="https://www.youtube.com/embed/Iu-NPNTPAZA" allowfullscreen></iframe></div>
  <div class="subtitle">뉴욕 불광선원 2011</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/Bhd4OVOp7IE" allowfullscreen></iframe></div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-about").addClass("active");
  </script>
<% end %>
