<div id="about-container">
  <div class="title">소개</div>
  <div class="text">재미 한인 불교 청년회는 템플스테이를 자주 다니는 청년 몇몇이 뜻을 모아 만든 단체입니다.  미국전역의 덕높으신 스님들께서 주최해주신 템플스테이를 다녀 보니 저희들도 힘을 모아 도와 드려야겠다는 점을 절실히 느꼈습니다.  저희 단체는 오로지 한가지 목적을 가지고있습니다:  앞으로 미국 전역의 템플스테이 주최를 돕고 열심히 참여하자.  여기저기 뿔뿔이 흩어져있는 저희들과 함께 모여 다음 템플스테이 참여하심은 어떻습니까?</div>
  <div class="title">임원</div>
  <div class="officer-container">
    <div class="photo"><img src="http://i.imgur.com/zXhzc7R.png" /></div>
    <div class="info">
      <div class="name">이현일</div>
      <div class="location">San Francisco, CA</div>
      <div class="description">이현일은 뉴저지에서 태어난 컴퓨터 프로그래머입니다.  불교는 태어났을때 부터 믿었으며, 어릴적에는 필라델피아 원각사, 대학생때는 보스톤의 문수사를 다녔습니다.  요즘에는 카멜의 삼보사에서 다니고있습니다.</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">구민규</div>
      <div class="location">Portland, OR</div>
      <div class="description">coming soon!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">구자경</div>
      <div class="location">San Diego, CA</div>
      <div class="description">coming soon!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">이경민</div>
      <div class="location">Chicago, IL</div>
      <div class="description">coming soon!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">전수빈</div>
      <div class="location">Seattle, WA</div>
      <div class="description">coming soon!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">채 Brian</div>
      <div class="location">New York, NY</div>
      <div class="description">coming soon!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">이윤섭</div>
      <div class="location">Austin, TX</div>
      <div class="description">coming soon!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">이미란</div>
      <div class="location">Los Angeles, CA</div>
      <div class="description">coming soon!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="officer-container">
    <div class="photo"><img src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png" /></div>
    <div class="info">
      <div class="name">이한솔</div>
      <div class="location">San Francisco, CA</div>
      <div class="description">coming soon!</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="title">비디오</div>
  <div class="subtitle">시카고 불타사 2015</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/qNBMd2o14dg" allowfullscreen></iframe></div>
  <div class="subtitle">포틀랜드 보광사 2014</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/5lYkduntT10" allowfullscreen></iframe></div>
  <div class="subtitle">카멜 삼보사 2012</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/4LTcJeDRY6A" allowfullscreen></iframe></div>
  <div class="text"><iframe src="https://www.youtube.com/embed/mtrfhfoZCWY" allowfullscreen></iframe></div>
  <div class="text"><iframe src="https://www.youtube.com/embed/Iu-NPNTPAZA" allowfullscreen></iframe></div>
  <div class="subtitle">뉴욕 불광선원 2011</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/Bhd4OVOp7IE" allowfullscreen></iframe></div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-about").addClass("active");
  </script>
<% end %>
