<div id="about-container">
  <div class="title">소개</div>
  <div class="text">Coming soon</div>
  <div class="title">임원</div>
  <div class="subtitle">이현일</div>
  <div class="text">Coming soon</div>
  <div class="title">비디오</div>
  <div class="subtitle">시카고 불타사 2015</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/qNBMd2o14dg" allowfullscreen></iframe></div>
  <div class="subtitle">포틀랜드 보광사 2014</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/5lYkduntT10" allowfullscreen></iframe></div>
  <div class="subtitle">카멜 삼보사 2012</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/4LTcJeDRY6A" allowfullscreen></iframe></div>
  <div class="text"><iframe src="https://www.youtube.com/embed/mtrfhfoZCWY" allowfullscreen></iframe></div>
  <div class="text"><iframe src="https://www.youtube.com/embed/Iu-NPNTPAZA" allowfullscreen></iframe></div>
  <div class="subtitle">뉴욕 불광선원 2011</div>
  <div class="text"><iframe src="https://www.youtube.com/embed/Bhd4OVOp7IE" allowfullscreen></iframe></div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-about").addClass("active");
  </script>
<% end %>
