<div id="details-container">
  <div class="text">
    <a href="https://www.facebook.com/events/863293940446917/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" style="width: 50px;"/></a>
    <a href="https://docs.google.com/forms/d/1EOybPJy7zQycq-2wdAGpTS0dis-fb8s7i-QvppwU_EA/viewform" class="btn btn-lg btn-default" target="_blank">참여신청!</a>
  </div>
  <div class="title">포스터</div>
  <div class="text"><a href="http://i.imgur.com/uiFXhpO.jpg"><img src="http://i.imgur.com/uiFXhpO.jpg" /></a></div>
  <div class="title">장소</div>
  <div class="text">
    보광사 - 화공스님<br/>
    1927 SE 174th Ave, Portland, OR 97233<br/><br/>
    <div class="map-container">
      <iframe src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDDT75sKRetaFxRUbAkmJtN-HrccS0VHGo&amp;q=Bokwangsah 1927 SE 174th Ave, Portland, OR 97233'></iframe>
    </div>
  </div>
  <div class="title">참여비</div>
  <div class="subtitle">8.18 목요일</div>
  <div class="text">저녁 공양:  $200</div>
  <div class="text">게임:  $50</div>
  <div class="text">기름:  $100</div>
  <div class="subtitle">8.19 금요일</div>
  <div class="text">아침 공양:  $120</div>
  <div class="text">점심:  $450</div>
  <div class="text">저녁 공양:  $200</div>
  <div class="text">게임:  $100</div>
  <div class="text">염주 만들기:  $50</div>
  <div class="text">기름:  $100</div>
  <div class="subtitle">8.20 토요일</div>
  <div class="text">아침 공양:  $120</div>
  <div class="text">점심:  $450</div>
  <div class="text">저녁 공양:  $600</div>
  <div class="text">기름:  $100</div>
  <div class="subtitle">8.21 일요일</div>
  <div class="text">아침 공양:  $120</div>
  <div class="text">점심:  $150</div>
  <div class="text">기름:  $100</div>
  <div class="subtitle">총액: $3010</div>
  <div class="text">= 대략 일인당 $100</div>
  <div class="title">스케줄</div>
  <div class="subtitle">8.18 목요일</div>
  <div class="text schedule-text"><b>7pm 이전:</b> 포틀랜드 도착</div>
  <div class="text schedule-text"><b>7pm:</b> 저녁 예불</div>
  <div class="text schedule-text"><b>8pm:</b> 저녁 공양</div>
  <div class="text schedule-text"><b>9pm:</b> 게임</div>
  <div class="text schedule-text"><b>11pm:</b> 취침</div>
  <div class="subtitle">8.19 금요일</div>
  <div class="text schedule-text"><b>5am:</b> 새벽 예불</div>
  <div class="text schedule-text"><b>6am:</b> 아침 공양</div>
  <div class="text schedule-text"><b>7am:</b> 천사들의 쉼터</div>
  <div class="text schedule-text"><b>11am:</b> 휴식</div>
  <div class="text schedule-text"><b>12pm:</b> 화공스님 법문</div>
  <div class="text schedule-text"><b>1pm:</b> 포틀랜드에서 점심!</div>
  <div class="text schedule-text"><b>2pm:</b> 단체 토론/타보산 공원</div>
  <div class="text schedule-text"><b>5pm:</b> 염주 만들기</div>
  <div class="text schedule-text"><b>7pm:</b> 저녁 예불</div>
  <div class="text schedule-text"><b>8pm:</b> 저녁 공양</div>
  <div class="text schedule-text"><b>9pm:</b> KAYBO STAR 시즌 2</div>
  <div class="text schedule-text"><b>11pm:</b> 취침</div>
  <div class="subtitle">8.20 토요일</div>
  <div class="text schedule-text"><b>5am:</b> 새벽 예불</div>
  <div class="text schedule-text"><b>6am:</b> 아침 공양</div>
  <div class="text schedule-text"><b>7am:</b> 폭포 구경</div>
  <div class="text schedule-text"><b>11am:</b> 휴식</div>
  <div class="text schedule-text"><b>12pm:</b> 화공스님 법문</div>
  <div class="text schedule-text"><b>1pm:</b> 포틀랜드에서 점심!</div>
  <div class="text schedule-text"><b>2pm:</b> 포틀랜드 투어: 장미 공원</div>
  <div class="text schedule-text"><b>4pm:</b> 스낵: Stumptown + Voodoo/Bluestar</div>
  <div class="text schedule-text"><b>5pm:</b> 해피아워: 다운타운에서 맥주 맛보기</div>
  <div class="text schedule-text"><b>7pm:</b> 저녁 예불</div>
  <div class="text schedule-text"><b>8pm:</b> 포틀랜드에서 저녁 식사!</div>
  <div class="text schedule-text"><b>10pm:</b> 서로에게 편지 쓰기</div>
  <div class="text schedule-text"><b>11pm:</b> 취침</div>
  <div class="subtitle">8.21 Sunday</div>
  <div class="text schedule-text"><b>5am:</b> 새벽 예불</div>
  <div class="text schedule-text"><b>6am:</b> 휴식</div>
  <div class="text schedule-text"><b>8am:</b> 아침 공양</div>
  <div class="text schedule-text"><b>9am:</b> 절 청소</div>
  <div class="text schedule-text"><b>10am:</b> 일요 법회</div>
  <div class="text schedule-text"><b>12pm:</b> 점심 공양</div>
  <div class="text schedule-text"><b>1pm:</b> 포틀랜드 구경 및 작별 인사</div>
  <div class="title">사진</div>
  <div class="text"><img src="http://bokwangsah.org/yahoo_site_admin/assets/images/P1010170.343195716_std.JPG" /></div>
  <div class="text">보광사</div>
  <div class="text"><img src="http://fatgirldoestheworld.com/wp-content/uploads/2012/10/angels_rest.jpg" /></div>
  <div class="text">천사들의 쉼터</div>
  <div class="text"><img src="http://www.livingroomre.com/wp-content/uploads/2013/06/Gist_MtTabor2_07282011_main1.jpg" /></div>
  <div class="text">타보산 공원</div>
  <div class="text"><img src="http://i.huffpost.com/gen/1808513/images/o-ONEONTA-FALLS-facebook.jpg" /></div>
  <div class="text">오네온타 폭포</div>
  <div class="text"><img src="http://www.travelphotoadventures.com/wp-content/uploads/2014/01/Elowah-Falls-in-Oregon-Landscape-Photography-by-Michael-Matti.jpg" /></div>
  <div class="text">루와 폭포</div>
  <div class="text"><img src="https://i.ytimg.com/vi/tjp0XaeyFlk/maxresdefault.jpg" /></div>
  <div class="text">멀티놈아 폭포</div>
  <div class="text"><img src="http://i.imgur.com/WQkn42g.jpg" /></div>
  <div class="text">장미 공원</div>
  <div class="text"><img src="https://kitchenoverlord.files.wordpress.com/2014/04/photo-44.jpg" /></div>
  <div class="text">부두 도넛츠</div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-details").addClass("active");
  </script>
<% end %>
