<div id="details-container">
  <div class="text"><a href="https://docs.google.com/forms/d/1CmSEGP7ND8283dUrQuenVPF4dsJM4DuZSbAPFSh0tek/viewform" class="btn btn-lg btn-default" target="_blank">참여신청!</a></div>
  <div class="title">포스터</div>
  <div class="text"><a href="http://i.imgur.com/80R4DfB.jpg"><img src="http://i.imgur.com/80R4DfB.jpg" /></a></div>
  <div class="title">장소</div>
  <div class="text">
    선각사 - 선학스님<br/>
    2790 W 8th St, Los Angeles, CA 90005<br/>
    (213) 487-6768<br/><br/>
    <div class="map-container">
      <iframe src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDDT75sKRetaFxRUbAkmJtN-HrccS0VHGo&amp;q=2790 W 8th St, Los Angeles, CA 90005'></iframe>
    </div>
  </div>
  <div class="title">참여비</div>
  <div class="subtitle">1.15 금요일</div>
  <div class="text">저녁 공양:  $200</div>
  <div class="text">게임:  $50</div>
  <div class="text">기름:  $64</div>
  <div class="subtitle">1.16 토요일</div>
  <div class="text">아침 공양:  $120</div>
  <div class="text">점심:  $600</div>
  <div class="text">저녁 공양:  $200</div>
  <div class="text">기름:  $96</div>
  <div class="subtitle">1.17 일요일</div>
  <div class="text">아침 공양:  $120</div>
  <div class="text">점심:  $600</div>
  <div class="text">저녁 공양:  $200</div>
  <div class="text">기름:  $96</div>
  <div class="subtitle">1.18 Monday</div>
  <div class="text">아침 공양:  $120</div>
  <div class="text">기름:  $64</div>
  <div class="subtitle">총액: $2530</div>
  <div class="text">= 대략 일인당 $85</div>
  <div class="title">스케줄</div>
  <div class="subtitle">1.15 금요일</div>
  <div class="text schedule-text"><b>7pm 이전:</b> LA 도착</div>
  <div class="text schedule-text"><b>7pm:</b> 저녁 예불</div>
  <div class="text schedule-text"><b>8pm:</b> 저녁 공양</div>
  <div class="text schedule-text"><b>9pm:</b> 실내 게임</div>
  <div class="text schedule-text"><b>11pm:</b> 취침</div>
  <div class="subtitle">1.16 토요일</div>
  <div class="text schedule-text"><b>5am:</b> 새벽 예불</div>
  <div class="text schedule-text"><b>6am:</b> 휴식</div>
  <div class="text schedule-text"><b>8am:</b> 아침 공양</div>
  <div class="text schedule-text"><b>9am:</b> 법문: 참선하는 법</div>
  <div class="text schedule-text"><b>10am:</b> 그룹 토론:  나는 왜 불자인가?</div>
  <div class="text schedule-text"><b>12pm:</b> LA에서 점심!</div>
  <div class="text schedule-text"><b>1pm:</b> LA 투어: 산타모니카 피어와 맨하탄 비치</div>
  <div class="text schedule-text"><b>7pm:</b> 저녁 예불</div>
  <div class="text schedule-text"><b>8pm:</b> 저녁 공양</div>
  <div class="text schedule-text"><b>9pm:</b> 장기자랑 준비</div>
  <div class="text schedule-text"><b>10pm:</b> 팀별 장기 자랑!</div>
  <div class="text schedule-text"><b>11pm:</b> 취침</div>
  <div class="subtitle">1.17 일요일</div>
  <div class="text schedule-text"><b>5am:</b> 새벽 예불</div>
  <div class="text schedule-text"><b>6am:</b> 휴식</div>
  <div class="text schedule-text"><b>8am:</b> 아침 공양</div>
  <div class="text schedule-text"><b>9am:</b> 법문: 절하는 법 + 108배</div>
  <div class="text schedule-text"><b>10am:</b> 사경: 마하반야바라밀다심경</div>
  <div class="text schedule-text"><b>12pm:</b> LA에서 점심!</div>
  <div class="text schedule-text"><b>1pm:</b> LA 투어: 헐리웃 + 그리피스 파크에서 노을 구경</div>
  <div class="text schedule-text"><b>7pm:</b> 저녁 예불</div>
  <div class="text schedule-text"><b>8pm:</b> LA에서 저녁!</div>
  <div class="text schedule-text"><b>9pm:</b> 서로에게 편지 쓰기</div>
  <div class="text schedule-text"><b>11pm:</b> 취침</div>
  <div class="subtitle">1.18 월요일</div>
  <div class="text schedule-text"><b>5am:</b> 새벽 예불</div>
  <div class="text schedule-text"><b>6am:</b> 휴식</div>
  <div class="text schedule-text"><b>8am:</b> 아침 공양</div>
  <div class="text schedule-text"><b>9am:</b> LA구경 및 떠남</div>
  <div class="title">사진</div>
  <div class="text"><img src="https://s3-us-west-1.amazonaws.com/temple-stay-temples/suengaksa.png" /></div>
  <div class="text">선각사</div>
  <div class="text"><img src="http://alikgriffin.com/sites/default/files/AlikGriffin_Santa_Monica_Pier_HDR_s.jpg" /></div>
  <div class="text">산타모니카 피어</div>
  <div class="text"><img src="http://www.bcre.com/images/manhattan_beach_sand_section_720.jpg" /></div>
  <div class="text">맨하탄 비치</div>
  <div class="text"><img src="http://www.theprivateguides.com/wp-content/uploads/2015/02/Hollywood-cine.jpg" /></div>
  <div class="text">헐리웃</div>
  <div class="text"><img src="http://pcwallart.com/images/griffith-park-wallpaper-4.jpg" /></div>
  <div class="text">그리피스 파크</div>
</div>

<% content_for :js do %>
  <script>
    $("#nav-details").addClass("active");
  </script>
<% end %>
