<div id="faq-container">
  <h4>선각사에 어떻게 가죠?</h4>
  <p>비행기 타고 오시는 분들은 케이보 임원들이 차로 LAX공항으로 마중 나갑니다.</p>
  <br/>
  <h4>나이 제한 있나요?</h4>
  <p>이번 템플 스테이는 18세에서 35세까지로 제한 되어있습니다.</p>
  <br/>
  <h4>참석 인원은 몇명인가요?</h4>
  <p>30명입니다.</p>
</div>

<% content_for :js do %>
  <script>
    $("#nav-faq").addClass("active");
  </script>
<% end %>
